<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Cognito</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <% if (user) { %>
        <!-- <li><a href="/chat">Чат</a></li-->
        
          <% if (user.username == "admin") { %>
            <li><a href="/panel">Панель управления</a></li>
          <% } else { %>
            <li><a href="/tasks">Задания</a></li>
            <li><a href="/myresults">Мои результаты</a></li>
        <% } %>
        <% } %>
        <li><a href="/about">О проекте</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (user) { %>
        <li><a href="" onclick="$('<form method=POST action=/logout>').appendTo('body').submit();return false">Выйти</a></form></li>
        <% } else { %>
        <li><a href="/login">Войти</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>